@model project.Models.Cart
@{
    ViewBag.Title = "Index";
}

<div>
    <table id="customers">
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @{float fullPrice = 0f;}
        @{var cart = Model.cart;}
        @foreach (var item in cart) {
            string srcString = "/Content/Images/" + @item.Key.hash;
            float itemsPrice = (float)@item.Key.price * @item.Value;
            fullPrice += itemsPrice;
            <tr>
                <td><img src=@srcString style="width: 100px" /></td>
                <td>@item.Key.id</td>
                <td>@item.Value</td>
                <td>@itemsPrice.ToString()</td>
            </tr>
        }

    </table>
    <div style="display: flex; margin-top: 15px">
        <div style="width:100%"></div>
        <p style="margin-right: 10px; width: 200px">Summary value: @fullPrice</p>
        <button style="background-color: #04AA6D; color: white; border-radius: 10px" onclick="send()">Make order</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function send() {
            $.ajax({
                url: '/Cart/Index',
                type: 'POST',
                data: { "send": true },
                success: function () {
                    window.location.reload()
                }
            });
        }
    </script>
</div>