@model IEnumerable<project.Models.Processor>
@{
    ViewBag.Title = "Admin";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<button style="background-color: #04AA6D; color: white; border-radius: 10px" onclick="window.location.href='/List/Orders'">Orders</button>
<button style="background-color: #04AA6D; color: white; border-radius: 10px"onclick="window.location.href='/List/Users'">Users</button>
<button style="background-color: #04AA6D; color: white; border-radius: 10px" onclick="window.location.href='/Admin/AddProcessor'">Add procesor</button>
<div style="display: flex; flex-wrap:wrap">
    @foreach (var item in Model) {
        string srcString = "/Content/Images/" + @item.hash;
        string priceString = @item.price.ToString() + "zł";
        <div class="card">
            <button style="background-color: red" onclick="del(@item.id)">Delete</button>
            <img src=@srcString style="width:100%" />
            <h1>@item.name</h1>
            <p class="price">@priceString</p>
        </div>
    }

    <script type="text/javascript">
        function del(id) {
            $.ajax({
                url: '/Shop/Admin',
                type: 'POST',
                data: { "id": id },
                success: function () {
                    alert("Processor deleted")
                    window.location.reload();

                }
            });
        }
    </script>
</div>

